* {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
      }
      html{
        scroll-behavior: smooth;
      }
      header{
        width: 100%;
        height: 69.6px;
        display: flex;
        justify-content: space-around;
        background-color: #2c1500;
        /* border: 2px solid green; */
        /* box-shadow:  rgba(0, 0, 0, 0.4) 0px 2px 15px 0px; */
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px 0px;
        position: fixed;
      }
      a{
        text-decoration: none;
      }
      aside {
        /* width: 170px;
        height: 39px; */
        margin-left: 113px;
        font-size: 26px;
        /* border: 1px solid black; */
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      aside a {
        color: white;
      }
      span {
        
        color: #f39c12;
      }
      nav {
        width: 50%;
        /* margin: 0px 60px; */
        padding: 0px 100px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      nav a {
        color: #ddd;
      }
      nav a:hover {
        color: #f39c12;
      }
    header>nav>button  {
        border: none;
        width: 120px;
        margin-right: 0px;
        height: 40px;
        border-radius: 8px;
        background-color: #c0392b;
        color: white;
        font-size: 15px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
      }
      button{
        border: none;
        width: 120px;
        height: 40px;
        border-radius: 8px;
        background-color: #c0392b;
        color: white;
        font-size: 15px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;

      }
    header>nav>button:hover {
        background-color: #96281b;
        color: rgb(243, 156, 18);
      }
      button:hover {
        background-color: #96281b;
        color: rgb(243, 156, 18);
      }
      #section1{
        padding: 0px 250px;
        width: 100%;
        height: 556.8px;
        background-color: #2C1500;
        display: flex;
        /* gap: 30px; */
        justify-content: center;
        align-items: center;
      }
      #sect_head{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      #head1{
        width: 241.538px;
        height: 33px;
        font-size: 12.8px;
        background-color: rgba(243, 156, 18, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 1px solid #f39c12;
      }
      #head2{
        width: 522.5px;
        /* height: 156px; */
      }
      #head4{
          display: flex;
          justify-content: start;
          gap: 30px;
          width: 522.5px;
          height: 53.2px;
      }
      #head4 button{
        width: 181.825px;
        height: 53.2px;
      }
      #but2{
            border: 3px solid #f39c12;
            color: #f39c12;
            background-color:#2C1500;
      }
      #but2:hover{
        background-color: #f39c12;
        color: #2C1500;
        
          
      }
      h1{
        color: white;
      }
      p{
        color: #ddd;
      }
      #img1{
        border-radius: 12px;
      }

      #section2{
        width: 100%;
        height: 124.8px;
        background-color: #C0392B;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* font-size: 32px; */
        /* font-weight: 700;     */
        color: white;   
      }
      #section2 div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        /* font-weight: 700; */
      }
      h3{
        font-weight: 700;
        font-size: 32px;
      }
      #menu{
        width: 100%;
         height: 1045.8px;
         background-color: #1A0A00;
         padding: 75px 30px 75px 30px
      }
      #menu p{
        margin-bottom: 10px;
        height: 20.8px;
        text-align: center;
        font-size: 13.6px;
        font-weight: 600;
        letter-spacing: 2px;
      }
      #menu>h2{
        font-size: 32px;
        margin: 6px 0 0 0;
        font-weight: 700;
        text-align: center;
        color: white;
      }
      #menu-grid{
        margin: 0 180px 0 180px;    
        font-size: 16px;
        height: 776px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* border: 2px solid green; */
      }
      #menu-card{
        /* border: 1px solid red; */
        border-radius: 10px;
        overflow: hidden;
        /* border: 1px solid  #3A1E00; */
        height: 377px;
        width: 352px;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
      }
      #menu-card img{
        width: 350.4px;
        height: 180px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }
      .menu-body{
        font-size: 16px;
        height: 199px;
        width: 350px;
        padding: 18px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* border: 1px solid pink; */
        background-color: #2C1500;
      }
      .nveg{
        font-size: 11.52px;
        font-weight: 600;
        height: 24.4px;
        width: 74.9px;
        border: 1px solid red;
        color: red;
        background-color: rgba(255, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
      }
      .veg{
        font-size: 11.52px;
        font-weight: 600;
        height: 24.4px;
        width: 74.9px;
        border: 1px solid green;
        color: green;
        background-color: rgba(0, 128, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
      }
      .dish-name{
        font-size: 16px;
        color: white;
        font-weight: 700;
        height: 24px;
        width: 315px;
      }
      .dish-discp{
        font-size: 13.3px;
        width: 315px;
        color: #888888;
        /* border: 1px solid blue; */
        display: flex;
        flex-wrap: wrap;
      }
      .menu-foot{
        font-size: 16px;
        height: 35px;
        width: 315px;
        display: flex;
        justify-content: space-between;
      }
      .menu-foot>span{
        font-size: 17.6px;
        font-weight: 700;
        /* height: 27px;
        width: 42.7px; */
      }
      .add-btn{
        font-size: 13.6px;
        font-weight: 600;
        text-align: center;
        background-color: #C0392B;
        /* height: 35px; */
        width: 72px;
        padding: 7px 16px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
      }
      #about{
        height: 664px;
        width: 100%;
        padding: 75px 215px;
        background-color: #2C1500;
        
      }
      #aboutinner{
        height: 513px;
        /* border: 1px solid greenyellow; */
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      #aboutinner>img{
        height: 348px;
        width: 522.5px;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 35px 0px;
      }
      #abouttext{
        height: 513px;
        width: 522.5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* justify-content: space-between; */
      }
      #label{
        font-size: 13.6px;
        font-weight: 600;
        line-height: 23.8px;
        color: #f39c12;
        /* border: 1px solid #f39c12; */
      }
      #abouthead{
        height: 82px;
        width: 522px;
        /* border: 1px solid springgreen; */
        color: white;
        font-size: 30.4px;
        font-weight: 700;
        line-height: 41.04px;
      }
      #about-desc{
        font-size: 16px;
        line-height: 27px;
        color: #ddd;
        /* border: 1px solid red; */
        margin-top:15px;
      }
      #aboutlist{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
      }
      #aboutlist>li{
        font-size: 14.5px;
        color: #bbb;
      }
      #reviews{
        height: 490px;
        width: 100%;
        background-color: #1A0A00;
        padding: 75px 30px;
      }
      #reviewp{
        height: 21px;
        width: 100%;
        font-size: 15.6px;
        font-weight: 600;
        text-align: center;
        color: #f39c12;
        letter-spacing: 2px;

      }
      #reviewhead{
        height: 48px;
        width: 100%;
        margin: 6px 0px 0px 0px ;
        /* border: 1px solid aqua; */
        font-size: 32px;
        color: white  ;
        font-weight: 700;
        text-align: center;
      }
      #review-grid{
        height: 220px;
        /* border: 1px solid red; */
        margin: 30px 180px 0 180px;
        display: flex;
        justify-content: space-between;
      }
      .review-card{
        height: 219px;
        width: 352px;
        border-left: 4px solid #C0392B;
        background-color: #2C1500;
        border-radius: 12px;
        gap: 20px;
        padding: 25px;
      }
     .star{
      height: 24px;
      width: 298px;
      margin: 0 0 12px 0;
      color: #f39c12;
     }
     .reviewgridp{
      height: 69px;
      width: 298px;
      font-size: 14px;
      line-height: 23px;
      color: #999;
     }
     .reviewer{
      height: 45px;
      width: 298px;
      display: flex;
      align-items: center;
      gap: 30px;
     }
     .reviewerimg{
      height: 42px;
      width: 42px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #f39c12;
     }
     .reviewer>div{
      display: flex;
      flex-direction: column;
      gap: 5px;
     }
     strong{
      font-size: 14px;
      font-weight: 700;
      height: 21px;
      width: 113px;
      color: white;
     }
     .reviewertype{
      font-size: 12px;
      color: #666;
     }
     #contact{
       height: 700px;
       width: 100%;
       background-color: #2C1500;
       padding: 75px 30px;
     }
     #sectiontop{
      height: 74.8px;
      width: 100%;
      /* border: 1px solid red; */
      text-align: center;
      font-size: 16px;
     }
     .label{
      font-size: 13.6px;
      font-weight: 600;
      line-height: 23.8px;
      color: #f39c12;
      /* border: 1px solid #f39c12; */
     }
    #contactbook{
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      color: white;
    }
    .contact-inner{
      height: 431px;
      margin: 45px 180px;
      /* border: 1px solid lime; */
      display: flex;
      justify-content: space-between;
      /* flex-direction: column; */
    }
    .contact-info{
      height: 287px;
      width: 522.5px;
      font-size: 16px;
      display:flex ;
      flex-direction: column;
      gap: 10px;
      /* border: 1px solid gold; */
    }
    #cont-head{
      font-size: 28.8px;
      font-weight: 700;
      height: 44px;
      width: 522.5px;
      color: white;
      /* border: 1px solid red; */
      /* margin-bottom: 20px; */
    }
    .info-row{
      height: 47.5px;
      width: 522.5px;
      display: flex;
      gap: 10px;
      /* border: 1px solid #ddd; */
      margin: 10px 0px;
    }
    .icon{
      height: 28px;
      width: 26.3px;
      border: 1px solid teal;
    }
    .info-detail{
      font-size: 14.4px;
      line-height: 23.7px;
      height: 47.5px;
      width: 323.337px;
      /* border: 1px solid lightcoral; */
    }
    #contact-form{
      height: 430px;
      width: 522.5px;
      /* border: 1px solid rebeccapurple;  */
      display: flex;
      flex-direction: column;
    }
    form{
      height: 430.8px;
      width: 522.5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    input,textarea{
      font-size: 14.4px;
      height: 47.2px;
      width: 522.5px;
      /* border: 1px solid #f39c12; */
      /* border: 1px solid #3A1E00; */
      border-radius: 8px;
      background-color: #1A0A00;
      padding: 12px 15px;
      cursor: text;
      /* outline: 1px solid #f39c12 ; */
      border: none;
    }
    #date{
      color: white;
    }
    textarea{
      height: 120px;
      border: 1px solid #f39c12;
      /* transition: border-color 0.3s ease-in-out; */
    }
    #book-btn{
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      background-color: #C0392B;
      height: 50px;
      width: 522.5px;
      padding: 13px;
      cursor: pointer;
    }
    footer{
      height: 324px;
      width: 100%;
      background-color: #0D0500;
      padding: 50px 30px 25px 30px;
    }
    .footer-grid{
      height: 172.6px;
      margin: 0 180px 35px 180px;
      display: flex;
      /* border: 1px solid orange; */
      justify-content: space-between;
    }
    .footer-brand{
      height: 172.6px;
      width: 515px;
      /* border: 1px solid red; */
    }
    .footer-brand>a{
      color: white;
      font-size: 25.6px;
      font-weight: 700;
    }
    #footp{
      font-size: 14px;
      line-height: 23px;
      color: #555;
      height: 47.6px;
      width: 515px;
      margin-top: 10px;
    }
    .footer-col{
      height: 172px;
      width: 257px;
      /* border: 1px solid rebeccapurple; */
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      gap: 10px;
    }
    .footh{
      font-size: 14.4px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #f39c12;
      height: 21.6px;
      width: 257px;
      margin-bottom: 15px;
    }
    .footul{
      font-size: 16px;
      height: 126px;
      width: 257px;
      /* border: 1px solid firebrick; */
      display: flex;
      flex-direction: column;
      gap: 6PX;
      list-style: none  ;
    }
    .footli{
      font-size: 16px;
      height: 24px;
      width: 257px;
    }
    .footli>a{
      color: #555;
      font-size: 16px;
      font-weight: 300;
    }
    .footli>a:hover{
      color: #f39c12;
    }
    #foot-bottom{
      font-size: 13.6px;
      text-align: center;
      color: #444;
      height: 41.6px;
      border: 1px solid #1E0c00;
      margin: 0 180px;
      padding-top: 20px;
    }
    #foot-bottom>p{
      color: #555;
    }